<div>
  <h2 class="title">
    <span data-v-19c2b923="" class="main-title">궁금한게 있어요!</span> 
  </h2> 
  <div>
      Q1. 후원을 해야만 참여할 수 있나요?
      <br>후원여부가 아닌 선거여부로 응모 가능합니다.<br><br>
  </div>    
  <div>
      Q2. 상금은 어떻게 결정되나요?
      
      후원금을 기준으로 상금이 정해집니다.  <br>
      <br>
      1, 2, 3등의 상금은 최대 금액으로 제한을 하고, 4등을 최대한 많이 추첨하여 2만원씩 드리게 됩니다. (예를 들어 운영비를 제외한 후원금이 2,000만원일 경우, 4등 당첨자 수는 240명이 됩니다)<br>
      - 1등(1명) : 후원금의 50%(최대 x만 원)<br>
      - 2등(1명) : 후원금의 20%(최대 y만 원)<br>
      - 3등(1명) : 후원금의 10%(최대 z만 원)<br>
      - 4등(000명) : 2만 원<br>
  </div>
  <div>
      Q3. 선거법에 위반되지 않나요?
      A3. 중앙선거관리위원회로부터 "「공직선거법」제10조에 따라 본 방식과 같은 사진공모전(콘테스트)은 공명선거추진활동의 일환으로 볼 수 있다”라고 확인을 받아 위반되지 않는 것으로 확인하였습니다.
  </div>     
  <div>
      Q4. 응모사진에 제약이 있나요?
      다음과 같은 사진은 당첨에서 제외됩니다.<br>
      - 선거와 관련없는 사진<br>
      - 저작권에 저촉되는 사진<br>
  </div>  
  <div>
      Q5. 결과는 언제 발표되나요?<br>
      투표 마지막날 오후 9시에 추첨 진행 및 결과 발표가 진행됩니다. 추첨 과정은 페이스북 라이브 방송으로 생중계 됩니다.
  </div>
        