<form action="/home/create" method="post">
    총 인원수: <input type="integer" name="totalnum"><br>
    추첨 인원수: <input type="integer" name="winnum"><br>
    <input type="submit" value="추첨">
</form>    


