
<h1>블라인드 공약 테스트</h1>
<div class="quiz-container">
  <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>

<style>
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
</style>

<script>
(function() {
  const myQuestions = [
    { //문제수는 편의상 홀수개로 해주세요!
      question: "Who is the strongest?",
      answers: {
        a: "Superman", 
        b: "The Terminator", 
      },
      candidateA: "a" //수정1 correctanswer이름으 candidatea로바꿈
    },
    {
      question: "What is the best site ever created?",
      answers: {
        a: "SitePoint", 
        b: "Simple Steps Code",
      },
      candidateA: "b"
    },
    {
      question: "Where is Waldo really?",
      answers: {
        a: "Antarctica",
        b: "Exploring the Pacific Ocean",
      },
      candidateA: "b"
    }
  ];

  function buildQuiz() {
    // we'll need a place to store the HTML output
    const output = [];

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // we'll want to store the list of answer choices
      const answers = [];

      // and for each available answer...
      for (letter in currentQuestion.answers) {
        // ...add an HTML radio button
        answers.push(
          `<label>
             <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
           </label>`
        );
      }

      // add this question and its answers to the output
      output.push(
        `<div class="slide">
           <div class="question"> ${currentQuestion.question} </div>
           <div class="answers"> ${answers.join("")} </div>
         </div>`
      );
    });

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join("");
  }

  function showResults() {

    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll(".answers");

    // keep track of user's answers
    let numA = 0; //수정2 numCorrect 이름을 numA로 변경
    //수정3
    let numB = 0;

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if (userAnswer === currentQuestion.candidateA) {
        // add to the number of correct answers
        numA++;

        // color the answers green
        //answerContainers[questionNumber].style.color = "lightgreen";
        //수정4
        //answerContainers[questionNumber].innerHTML +="후보1 정책입니다.";
        answerContainers[questionNumber].style.color = "lightgreen";        
       
      } else {
        // if answer is wrong or blank
        //수정5
        numB++;
        // color the answers red 수정6
        answerContainers[questionNumber].style.color = "red";
      }
    });

    // show number of correct answers out of total
    // resultsContainer.innerHTML = `${numA} out of ${myQuestions.length}`;
    // 수정7
    if(numA>numB){
      resultsContainer.innerHTML =  numA + '/' + myQuestions.length + '후보1 정책을 더 선호합니다.';
    }
    else{
      resultsContainer.innerHTML = numB + '/' + myQuestions.length + '후보2 정책을 더 선호합니다' ;
    }
  }

  function showSlide(n) {
    slides[currentSlide].classList.remove("active-slide");
    slides[n].classList.add("active-slide");
    currentSlide = n;
    
    if (currentSlide === 0) {
      previousButton.style.display = "none";
    } else {
      previousButton.style.display = "inline-block";
    }
    
    if (currentSlide === slides.length - 1) {
      nextButton.style.display = "none";
      submitButton.style.display = "inline-block";
    } else {
      nextButton.style.display = "inline-block";
      submitButton.style.display = "none";
    }
  }

  function showNextSlide() {
    showSlide(currentSlide + 1);
  }


  function showPreviousSlide() {
    showSlide(currentSlide - 1);
  }

  const quizContainer = document.getElementById("quiz");
  const resultsContainer = document.getElementById("results"); 
  const submitButton = document.getElementById("submit");

  // display quiz right away
  buildQuiz();

  const previousButton = document.getElementById("previous");
  const nextButton = document.getElementById("next");
  const slides = document.querySelectorAll(".slide");
  let currentSlide = 0;

  showSlide(0);

  // on submit, show results
  submitButton.addEventListener("click", showResults); //next슬라이드에서 show results하기 // 미해결 ㅜ.ㅜ
  previousButton.addEventListener("click", showPreviousSlide); 
  nextButton.addEventListener("click", showNextSlide); //넥스트버튼누르면 shownextslide=showslide(n+1)function에 addslide되는 기능잇움
})();

//글구 그 어느정책이 어느후보껀지 submit하면 보이기 보기전체색변화말규 //미완
</script>
