@import "bootstrap";
//------------------header--------------------


@font-face { font-family: 'WONTitle'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

.headerfont{
    font-family: "WONTitle";
    font-size: 20px;
    line-height: 35px;
    color: black;
}

.shape{
    margin-top: 30px;
    margin-bottom: 30px;
}
//------------------header 끝-----------------


//------------------main-----------------------
.votenum_box{
    width: 100%;
    height: 200px;
    background-color: #F1F1F1;
    align-items: center;
}

.votenum_text{
    color: #707070;
    text-align: center;
    font-size: 22px;
}

//인원수 counter
#counter1{
    font-size: 25px;
    font-weight: 500;

}

.btn_vote{
    margin-top: -24px;
    background-color: white;
}


//----------------main 끝-------------------

//----------------참여방법 소개 css----------------

.howto_img_box{
    height: 110.5px;
    width: 100%;
    margin-bottom: 35px;
}

.howto_img{
    height: 100%;
    width: 100%;

}

.howto_bar{
    width: 40px;
    height: 1px;
    background-color: #A13030;
    margin-bottom: 10.5px;
}

.howto_text_title{
    font-size: 20px;
}


//수정 전 howto
.imgbox{
}

.howto_image{
    width:100px;
    height:100px;
}

.howto_text{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 14px;
}

.howto_box{
    margin: 15px;
    display: flex;
}

.max_cont{
    display: block;
}

@media screen and (min-width: 760px){
    .max_cont{
        display: flex;
        justify-content: space-around;
    }
    .howto_box{
        height: 260px;
        margin-left: 20px;
        margin-right: 20px;
        width: 150px;
        display: inline-block;
    }
    .howto_text{
        padding-left: 0px;
        text-align: center;
    }
    .howto_image{
        width: 100%;
        height: 160px;
    }
}

//--------------참여방법 소개 css 끝---------------

// Lotto Page 
// 카운트다운 타이머 -----------------------
ul#example {
    list-style: none;
    margin: 50px 0;
    padding: 0;
    display: block;
    text-align: center;
  }
  
  ul#example li { display: inline-block; }
  
  ul#example li span {
    font-size: 50px;
    font-weight: 300;
    line-height: 45px;
  }
  
  ul#example li.seperator {
    font-size: 40px;
    line-height: 35px;
    vertical-align: top;
  }
  
  ul#example li p {
    color: #a7abb1;
    font-size: 15px;
  }
//------------------------------타이머 끝//