@import 'bootstrap'; 


// 포스터 페이지 CSS
.poster_images{
    width: 40%;
    height: 40%;
}

ul {
    list-style: none;
    }

  .poster_image{
    width: 105%; 
    height: 100%; 
    margin-top: 3%;
  }
  
  .poster_footer{
    height: 5%; 
    background-color: #7D2222; 
    position:relative;
  }

  .poster_font {
    color: white;
  }

  .poster_intro {
    font-size: 200%;
  }

  .poster_bar {
    margin-top: 10%; 
    background-color: #7D2222; 
    width: 10%; 
    height: 5px;
  }

// 배너 페이지 CSS

    .banner_intro {
      font-size: 30px;
    }
    .banner_image {
      height: auto; 
      width: 100%;
    }
    .banner_footer {
      height: 5%; 
      background-color: #7D2222; 
      position: relative; 
      margin-top: 7%;
    }
    
    .banner_footer_edit {
      color: white;
    }

    .banner_footer_delete {
      color: white;
    }

    .banner_footer_back {
      color: white;
    }

    .banner_bar0 {
      background-color: #7D2222; 
      width: 60px; 
      height: 5px; 
      margin-top: 7%;
    }

    .banner_bar1 {
      background-color: #7D2222; 
      width: 60px; 
      height: 5px; 
      margin-top: 7%;
    }

    .banner_bar2 {
      background-color: #7D2222; 
      width: 60px; 
      height: 5px; 
      margin-top: 7%;
    }

    .banner_bar3 {
      background-color: #7D2222; 
      width: 60px; 
      height: 5px; 
      margin-top: 7%;
    }

    .btn03 {
      font-size: 30px;
    }

    .btn02 {
      font-size: 30px;
    }

    .btn01 {
      font-size: 30px;
    }

    .example03 {
      display: none; 
      font-size: 20px;
    }

    .example02 {
      display: none; 
      font-size: 20px;
    }

    .example01 {
      display: none; 
      font-size: 20px;
    }

    .banner_intro {
        font-size: 30px;
      }
      .banner_image {
        height: auto; 
        width: 100%;
      }
      .banner_footer {
        height: 5%; 
        background-color: #7D2222; 
        position: relative; 
        margin-top: 7%;
      }
      
      .banner_footer_edit {
        color: white;
      }
  
      .banner_footer_delete {
        color: white;
      }
  
      .banner_footer_back {
        color: white;
      }
  
      .banner_bar0 {
        background-color: #7D2222; 
        width: 60px; 
        height: 5px; 
        margin-top: 7%;
      }
  
      .banner_bar1 {
        background-color: #7D2222; 
        width: 60px; 
        height: 5px; 
        margin-top: 7%;
      }
  
      .banner_bar2 {
        background-color: #7D2222; 
        width: 60px; 
        height: 5px; 
        margin-top: 7%;
      }
  
      .banner_bar3 {
        background-color: #7D2222; 
        width: 60px; 
        height: 5px; 
        margin-top: 7%;
      }
  
      .btn03 {
        font-size: 30px;
      }
  
      .btn02 {
        font-size: 30px;
      }
  
      .btn01 {
        font-size: 30px;
      }
  
      .example03 {
        display: none; 
        font-size: 20px;
      }
  
      .example02 {
        display: none; 
        font-size: 20px;
      }
  
      .example01 {
        display: none; 
        font-size: 20px;
      }