@import "bootstrap";
//------------------header--------------------


@font-face { font-family: 'WONTitle'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }


//------------------header 끝-----------------


//------------------main-----------------------
.votenum_box{
    width: 100%;
    height: 200px;
    background-color: #F1F1F1;
    align-items: center;
}

.votenum_text{
    color: #707070;
    text-align: center;
    font-size: 20px;
    font-family:"NanumSquareround";
}

//인원수 counter
#counter1{
    font-size: 23px;
    font-weight: 500;
    font-family:"NanumSquareround";
}

.btn_vote{//응모하기 버튼
    margin-top: -22px;
    background-color: white;
}


//----------------main 끝-------------------

//----------------참여방법 소개 css----------------

.howto_img_box{
    height: 110.5px;
    width: 100%;
    margin-bottom: 35px;
}

.howto_img{
    height: 100%;
    width: 100%;
}

.howto_bar{
    width: 40px;
    height: 1px;
    background-color: #A13030;
    margin-bottom: 10.5px;
}

.howto_text_box{
    margin-top: 15px;
    margin-right: 8px;
    margin-left: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.howto_text_title{
    font-size: 20px;
    font-family: "NanumSquareround"
}

.howto_text_title2{
    font-size: 13px;
    margin-bottom: 19px;
}

.howto_text_normal{
    font-size: 10px;
    line-height: 14px;
}
//이전

//--------------참여방법 소개 css 끝---------------


//--------------header---------------------
.headerfont{
    font-family: "WONTitle";
    font-size: 22px;
    line-height: 35px;
    color: black;
    
}

@media screen and (max-width: 380px){
    .headerfont{
        font-size: 19.4px;
    }
}

.normalfont {
    font-family:"NanumSquareround";
    font-size: 15px;
    color: black;
}

.navcontent {
    line-height: 27px;  
    display: flex;
    align-items: center;
}

.line {
    width: 40px;
    height: 2px;
    background: rgb(151, 46, 46);
    line-height: 18px;
}

.scrollToTop{
    font-family: "NanumSquareround";
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    color: #444;
    text-decoration: none;
    position: flex;
    top:75px;
    right:40px;
    display:none;
    background: url('arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
}
//----------------header 끝---------------