<div class = "container">
    <div class = "col-sm-11 col-xl-11 mx-auto">
        <div><%=image_tag("howto.jpg", class: "vote-new-image")%></div>

        <%= render 'form', vote_log: @vote_log %>

        <%= link_to '뒤로가기', vote_logs_path %>
    </div>
</div>


